<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isExpandable</key>
		<true/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>cellTitle</key>
		<string>Non-Vegetarian</string>
		<key>additionalRows</key>
		<integer>2</integer>
		<key>isParent</key>
		<true/>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>cellTitle</key>
		<string>1. Butter Chicken</string>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>isParent</key>
		<false/>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>cellTitle</key>
		<string>2. Tandoori Chicken</string>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>isParent</key>
		<false/>
	</dict>
	<dict>
		<key>isExpandable</key>
		<true/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>cellTitle</key>
		<string>Vegetarian</string>
		<key>additionalRows</key>
		<integer>3</integer>
		<key>isParent</key>
		<true/>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>cellTitle</key>
		<string>1. Baigan Bharta</string>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>isParent</key>
		<false/>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>cellTitle</key>
		<string>2. Chilly Cauliflower</string>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>isParent</key>
		<false/>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>cellTitle</key>
		<string>3. Panner Muttor</string>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>isParent</key>
		<false/>
	</dict>
	<dict>
		<key>isExpandable</key>
		<true/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>cellTitle</key>
		<string>Seafood</string>
		<key>additionalRows</key>
		<integer>2</integer>
		<key>isParent</key>
		<true/>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>cellTitle</key>
		<string>1. Fish Fry</string>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>isParent</key>
		<false/>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>cellTitle</key>
		<string>2. Prawns Fry</string>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>isParent</key>
		<false/>
	</dict>
	<dict>
		<key>isExpandable</key>
		<true/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>cellTitle</key>
		<string>Biryani</string>
		<key>additionalRows</key>
		<integer>4</integer>
		<key>isParent</key>
		<false/>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>cellTitle</key>
		<string>1. Chicken Biryani</string>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>isParent</key>
		<false/>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>cellTitle</key>
		<string>2. Chicken Biryani</string>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>isParent</key>
		<false/>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>cellTitle</key>
		<string>3. Prawns Biryani</string>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>isParent</key>
		<false/>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>cellTitle</key>
		<string>4. Fish Biryani</string>
		<key>additionalRows</key>
		<integer>0</integer>
		<key>isParent</key>
		<false/>
	</dict>
</array>
</plist>
