<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PulltoRefresh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B2E815FA1E0914A200742B90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2E816161E0914A300742B90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2E816211E0914A400742B90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
